{% extends "base.html" %}
{% block content %}
<!-- <p>상세 페이지</p> -->
{% for info in corp_info%}
    <div style="font-size:24px">{{info.name}}
        {%if not user.is_authenticated%}
            <a href="{% url 'stock_list:add_stock' corpname=info.symbol %}">추가</a>
        {%else%}
            {% if check_stock_in_my_stock %}
                <a href="">삭제</a>
            {% else %}
                <a href="{% url 'stock_list:add_stock' corpname=info.symbol %}">추가</a>
            {% endif %}
        {%endif%}
    </div>
    <p>{{info.symbol}}  {{info.industry}}</p>
{% endfor %}
    {% if not news_list%}
        <p>뉴스가 없습니다</p>
    {% else %}
        <ul>
        {% for news in news_list%}
            <li><a href={{news.link}}>{{news.title}}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}